*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    min-height: 100%;
}
html{
    font-family: 'Segoe UI', -apple-system, system-ui, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #F6F7FB;
}
main{
    flex-grow: 1;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
header{
    background-color: #F6F7FB;
    min-height: 79px;
}
nav a{
    margin: 0 10px;
    text-decoration: none;
    color: #1E2A38;
    font-weight: 600;
}
/* --------------section-reviews-------------- */
.section-reviews{
    min-height: 600px;
}
.con-reviews{
    padding: 55px;
}

.con-reviews-h2{
    font-size: 30px;
    color: #1E2A38;
    margin-bottom: 21px;
}

.con-reviews-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.com-reviews-cards-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 22px;
    width: 342px;
    height: 312px;
    border:#1E2A38 2px solid;
}

.com-reviews-cards-card-person{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.com-reviews-cards-card-person div p{
    font-size: 16px;
    color: #4A4A4A;
}

.com-reviews-cards-card-person img{
    margin-right: 20px;
    width: 63px;
    height: 64px;
    border-radius: 100%;
}
.com-reviews-cards-card-comment{
    margin-top: 6px;
    color: #4A4A4A;
    font-size: 15px;
}

.com-reviews-cards-card-button{
    width: 131px;
    height: 39px;
    border: none;
    background-color: #5A8DA2;
    color: #F6F7FB;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}
.com-reviews-cards-card-button:hover,
.com-reviews-cards-card-button:focus{
    color: #5A8DA2;
    background-color: #F6F7FB;
}

.con-reviews-manipulator{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    
    margin-top: 66px;
}
.con-reviews-manip-button{
    background-color: #1E2A38;
    color: #F6F7FB;
    font-size: 30px;
    font-weight: bold;
    width: 65px;
    height: 50px;
    border: none;
    margin-left: 18px;
    transition: all 0.2s ease-in-out;
}
.con-reviews-manip-button:hover,
.con-reviews-manip-button:focus{
    color: #1E2A38;
    background-color: #F6F7FB;
}

.c-r-m-b-disabled{
    background-color: #1e2a3834;
    transition: all 0.2s ease-in-out;
}
.c-r-m-b-disabled:hover,
.c-r-m-b-disabled:focus{
    color: #1e2a3834;
    background-color: #1e2a3827;
}
/* --------------section-separation-------------- */
.section-separation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.con-sep{
    height: 2px;
    width: 1090px;
    background-color: #4A4A4A;
}

/* --------------section-contacts-------------- */
.section-contacts{
    height: 510px;
}
.con-contacts{
    display: flex;
    flex-direction: row;
}
.con-contacts-info-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 55px;
}
.con-contacts-h2{
    font-size: 30px;
    color: #1E2A38;
}
.con-contacts-info{
    font-size: 16px;
    color: #4A4A4A;
}

.con-contacts-social-network{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.con-contacts-social-network a{
    text-decoration:none;
}

.con-contacts-social-network-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #AEC8D7;
    transition: all 0.2s ease-in-out;
}
.con-contacts-social-network-button:hover,
.con-contacts-social-network-button:focus{
    background-color: #5A8DA2;
}
.con-contacts-social-network-button img{
    width: 36px;
    height: 36px;
}

.con-contacts-submit-application button{
    width: 180px;
    height: 50px;
    border: none;
    color:#F6F7FB;
    background-color: #5A8DA2;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.con-contacts-submit-application button:hover{
    color: #5A8DA2;
    background-color: #F6F7FB;
}

.con-contacts-map iframe{
    width: 845px;
    height: 510px;
}
/* --------------section footer-------------- */
/* footer{
    background-color: #1E2A38;
} */

.section-footer-postroit-dom-name{
    background-color: #343a41;
}
.con-footer-postroit-dom-name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A4A4A;
    padding: 55px 0 23px 0;
}
.con-footer-postroit-dom-name-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1e2a3885;
    top: 0px;
}

.section-footer-logo-and-info{
    background-color: #1E2A38;
}
.con-footer-logo-and-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #F6F7FB;
    background-color: #1E2A38;
    padding: 55px;
    height: 260px;
}
.con-footer-logo-and-info img{
    width: 127px;
    height: 127px;
}
.con-footer-logo-and-info p{
    font-size: 16px;
    width: 891px;
    height: 131px;
}

.section-footer-copyright{
    background-color: #4A4A4A;
}
.con-footer-copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #F6F7FB;
    font-size: 16px;
    /* font-weight: bold; */
    background-color: #4A4A4A;
    padding: 20px 55px 20px 55px;
}
.con-footer-copyright--local-and-rules{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.con-footer-copyright--local-and-rules a{
    color: #F6F7FB;
    text-decoration:none;
    margin-left: 56px;
    transition: color 0.2s ease-in-out;
}
.con-footer-copyright--local-and-rules a:hover,
.con-footer-copyright--local-and-rules a:focus{
    text-decoration: underline;
    color: #bdbdbd;
}
/*------HEADER---------*/
.header {
    position: relative;
    z-index: 10; 
}

.section-header {
    background: #F6F7FB;
    border-bottom: 1px solid #D9D9D9;
}

.header-container {
    max-width: 1280px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    position: relative;
    z-index: 15;
}


.logo {
    width: 56px;
    height: 56px;
}


.nav {
    display: flex;
    gap: 48px;
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #1E2A38;
}


.phone-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}

.divider {
    width: 1px;
    height: 82px;  
    background: #D9D9D9;
}

.phone {
    font-size: 18px;
    font-weight: 700;
    color: #1E2A38;
}
/*----------header info---------*/

.head-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}
.head-text h1{
    font-size: 56px; font-weight: 800; color: #1E2A38; margin: 0;
}
.subtitle{
    font-size: 20px; 
    color: #4A4A4A;
}
.head-img{
    width: 100%;
}
/* ------------ READY SOLUTIONS ------------ */

.ready-solutions {
    background-color: #1E2A38;
    color: #F9F9FA;
    padding: 60px 0;
}

.ready-solutions-grid {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 60px;
    align-items: center;
}

.ready-solutions h2 {
    grid-column: 1 / -1;
    font-size: 32px;
    margin-bottom: 30px;
}

/* --------------LEFT SIDE-------------- */

.slider-wrapper {
    display: flex;
    align-items: center;
    gap: 14px; 
}


.slider {
    width: 700px;      
    height: 430px;    
    border-radius: 16px;
    overflow: hidden;
    background: #1f2630;
}


.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.slide-btn {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: rgba(255,255,255,0.12);
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; 
}

.slide-title {
    margin-top: 12px;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

/* -----------BUTTON---------- */

.select-btn {
    margin-top: 20px;
    padding: 14px 28px;
    border-radius: 8px;
    background: #70A6C3;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    align-self: start;
}
/*-------------CHART SECTION------------*/
.chart-section {
    padding: 60px 0;
}
.chart-sub {
    opacity: .6;
}

.chart-tooltip {
    position: absolute;
    background: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    display: none;
    font-size: 14px;
    pointer-events: none;
}