*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    min-height: 100%;
}
html{
    font-family: 'Segoe UI', -apple-system, system-ui, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #F6F7FB;
}
main{
    flex-grow: 1;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
header{
    background-color: #F6F7FB;
    min-height: 79px;
}
/* --------------section-reviews-------------- */
.section-reviews{
    min-height: 600px;
}
.con-reviews{
    padding: 55px;
}

.con-reviews-h2{
    font-size: 30px;
    color: #1E2A38;
    margin-bottom: 21px;
}

.con-reviews-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.com-reviews-cards-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 22px;
    width: 342px;
    height: 312px;
    border:#1E2A38 2px solid;
}

.com-reviews-cards-card-person{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.com-reviews-cards-card-person div p{
    font-size: 16px;
    color: #4A4A4A;
}

.com-reviews-cards-card-person img{
    margin-right: 20px;
    width: 63px;
    height: 64px;
    border-radius: 100%;
}
.com-reviews-cards-card-comment{
    margin-top: 6px;
    color: #4A4A4A;
    font-size: 15px;
}

.com-reviews-cards-card-button{
    width: 131px;
    height: 39px;
    border: none;
    background-color: #5A8DA2;
    color: #F6F7FB;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}
.com-reviews-cards-card-button:hover,
.com-reviews-cards-card-button:focus{
    color: #5A8DA2;
    background-color: #F6F7FB;
}

.con-reviews-manipulator{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    
    margin-top: 66px;
}
.con-reviews-manip-button{
    background-color: #1E2A38;
    color: #F6F7FB;
    font-size: 30px;
    font-weight: bold;
    width: 65px;
    height: 50px;
    border: none;
    margin-left: 18px;
    transition: all 0.2s ease-in-out;
}
.con-reviews-manip-button:hover,
.con-reviews-manip-button:focus{
    color: #1E2A38;
    background-color: #F6F7FB;
}

.c-r-m-b-disabled{
    background-color: #1e2a3834;
    transition: all 0.2s ease-in-out;
}
.c-r-m-b-disabled:hover,
.c-r-m-b-disabled:focus{
    color: #1e2a3834;
    background-color: #1e2a3827;
}
/* --------------section-separation-------------- */
.section-separation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.con-sep{
    height: 2px;
    width: 1090px;
    background-color: #4A4A4A;
}

/* --------------section-contacts-------------- */
.section-contacts{
    height: 510px;
}
.con-contacts{
    display: flex;
    flex-direction: row;
}
.con-contacts-info-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 55px;
}
.con-contacts-h2{
    font-size: 30px;
    color: #1E2A38;
}
.con-contacts-info{
    font-size: 16px;
    color: #4A4A4A;
}

.con-contacts-social-network{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.con-contacts-social-network a{
    text-decoration:none;
}

.con-contacts-social-network-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #AEC8D7;
    transition: all 0.2s ease-in-out;
}
.con-contacts-social-network-button:hover,
.con-contacts-social-network-button:focus{
    background-color: #5A8DA2;
}
.con-contacts-social-network-button img{
    width: 36px;
    height: 36px;
}

.con-contacts-submit-application button{
    width: 180px;
    height: 50px;
    border: none;
    color:#F6F7FB;
    background-color: #5A8DA2;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.con-contacts-submit-application button:hover{
    color: #5A8DA2;
    background-color: #F6F7FB;
}

.con-contacts-map iframe{
    width: 845px;
    height: 510px;
}
/* --------------section footer-------------- */


.section-footer-postroit-dom-name{
    background-color: #343a41;
}
.con-footer-postroit-dom-name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A4A4A;
    padding: 55px 0 23px 0;
}
.con-footer-postroit-dom-name-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1e2a3885;
    top: 0px;
}

.section-footer-logo-and-info{
    background-color: #1E2A38;
}
.con-footer-logo-and-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #F6F7FB;
    background-color: #1E2A38;
    padding: 55px;
    height: 260px;
}
.con-footer-logo-and-info img{
    width: 127px;
    height: 127px;
}
.con-footer-logo-and-info p{
    font-size: 16px;
    width: 891px;
    height: 131px;
}

.section-footer-copyright{
    background-color: #4A4A4A;
}
.con-footer-copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #F6F7FB;
    font-size: 16px;
    /* font-weight: bold; */
    background-color: #4A4A4A;
    padding: 20px 55px 20px 55px;
}
.con-footer-copyright--local-and-rules{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.con-footer-copyright--local-and-rules a{
    color: #F6F7FB;
    text-decoration:none;
    margin-left: 56px;
    transition: color 0.2s ease-in-out;
}
.con-footer-copyright--local-and-rules a:hover,
.con-footer-copyright--local-and-rules a:focus{
    text-decoration: underline;
    color: #bdbdbd;
}

/* HEADER */

.header {
    background: #fff;
    border-bottom: 1px solid #d9dde2;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.header__logo img {
    height: 48px;
}

.header__nav {
    display: flex;
    gap: 40px;
}

.header__nav a {
    text-decoration: none;
    font-size: 18px;
    color: #1d2530;
}

.header__phone {
    font-size: 18px;
    font-weight: 600;
    color: #1d2530;
}

/* -----------------BURGER -------- */

.burger {
    display: none;
    flex-direction: column;
    width: 28px;
    cursor: pointer;
}

.burger span {
    height: 3px;
    background: #1d2530;
    margin-bottom: 5px;
    border-radius: 2px;
}

/*---------------- MOBILE MEN-------------------U */

.mobile-menu {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    background: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 3px 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    z-index: 20;
}

.mobile-menu.open {
    left: 0;
}

.mobile-menu nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile-menu a {
    text-decoration: none;
    font-size: 20px;
    color: #1d2530;
}

.mobile-phone {
    margin-top: auto;
    font-weight: bold;
    font-size: 18px;
}

/* ---------------HERO------------ */

.hero {
    background: #f3f4f6;
    padding: 80px 0;
}

.hero__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}

.hero__info h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 1.1;
    color: #1d2530;
}

.hero__subtitle {
    margin: 25px 0 10px;
    font-size: 18px;
    color: #555;
}

.hero__line {
    width: 140px;
    height: 2px;
    background: #1d2530;
    margin-top: 10px;
}

.hero__image img {
    width: 100%;
    border-radius: 4px;
}
/*--------------- SOLUTIONS-----------*/

.solutions {
    background: #1d2530;
    padding: 90px 0;
    color: #fff;
}

.solutions__title {
    font-size: 42px;
    margin-bottom: 50px;
    font-weight: 800;
}

.solutions__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    align-items: start;
}


.solutions__slider {
    position: relative;
    height: 430px;
    overflow: hidden;
    border-radius: 6px;
}

.slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0;
}

.slide.active {
    left: 0;
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    border: none;
    width: 45px;
    height: 45px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    backdrop-filter: blur(4px);
}

.prev { left: 15px; }
.next { right: 15px; }


.solutions__info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.solutions__items {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.solution-item {
    padding-bottom: 15px;
    border-bottom: 1px solid #394350;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.solution-item.active {
    opacity: 1;
}

.solution-item h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.solution-item p {
    font-size: 15px;
    color: #d5d8dc;
}

.solutions__btn {
    width: 100%;
    padding: 16px 0;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    background: #5A8DA2;
    color: #F6F7FB;
    cursor: pointer;
    margin-top: 10px;
}




/*---------------STATS-----------------*/
.stats {
    background: #f3f4f6;
    padding: 90px 0;
}

.stats__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
}

.stats__info h2 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 25px;
    color: #1d2530;
}

.stats__info p {
    font-size: 18px;
    color: #444;
    margin-bottom: 15px;
}



.stats__chart {
    position: relative;
    height: 330px;
    padding: 20px 0;
}



.chart-grid {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image:
        linear-gradient(to top, transparent 97%, #d0d5db 97%);
    background-size: 100% 25%;
}



.chart-bars {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}



.bar {
    width: 12%;
    text-align: center;
    position: relative;
    height: 100%;
}

.bar-fill {
    width: 100%;
    background: #1d2530;
    height: 0;
    border-radius: 4px 4px 0 0;
    transition: 0.8s;
    position: absolute; 
    bottom: 0;         
    left: 0;
}

.bar span {
    margin-top: 8px;
    display: block;
    font-size: 14px;
    color: #1d2530;
}



/* -------------MEDIA URL ------------*/

@media (max-width: 992px) {

    .header__nav,
    .header__phone {
        display: none;
    }

    .burger {
        display: flex;
    }

    .hero__grid {
        grid-template-columns: 1fr;
        text-align: left;
    }

    .hero__info h1 {
        font-size: 48px;
    }
    .solutions__wrapper {
        grid-template-columns: 1fr;
    }

    .solutions__slider {
        height: 320px;
    }
    .stats__wrapper {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .stats__chart {
        height: 270px;
    }

    .bar {
        width: 13%;
    }
}

@media (max-width: 600px) {
    .hero {
        padding: 50px 0;
    }

    .hero__info h1 {
        font-size: 40px;
    }
     .solutions {
        padding: 60px 0;
    }

    .solutions__title {
        font-size: 32px;
        text-align: center;
    }
     .stats {
        padding: 60px 0;
    }

    .stats__info h2 {
        font-size: 32px;
    }
}



